#main{
    background-color:blue;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    float: left;
}

#inner{
    background-color:red;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    cursor: grab;
    position:relative;
    float: right;
}
